.glitch {
  font-size: 2rem;
  position: absolute;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

.glitch_fast {
  animation: glitch 375ms infinite;
}

.tip {
  animation: glitch 375ms infinite;
}

.tip:hover {
  color: greenyellow;
  background-color: black;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    padding: 2px 2px 2px 2px;
}

.col {
    display: flex;
    flex-direction: column;
}

.overlay {
  position: absolute;
  height: 0%;
  width: 0%;
}

div .monitor {
  border: 1px #1f1f1f solid;
  height: 600px;
  width: 567px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: column;
  padding: 0 0 0 0;
}

div .login {
    margin-bottom: 20px;
}
.btn .login {
    margin-top: 20px;
}

.control input {
    padding: 14px 16px;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 16px;
    outline: none;
  }
  .control input:hover, .form .control input:focus {
    outline: none;
    border: 0;
  }
  .btn {
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
  }
  
  .block-cube {
    position: relative;
  }
  .block-cube .bg-top {
    position: absolute;
    height: 10px;
    background: #000000;
    background: linear-gradient(45deg, #ffffff 0%, #5c5c5c 37%, #000000 94%);
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
  }
  .block-cube .bg-top .bg-inner {
    bottom: 0;
  }
  .block-cube .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    background: linear-gradient(60deg, #ffffff 0%, #5c5c5c 37%, #000000 94%);
  }
  .block-cube .bg-right {
    position: absolute;
    background: #000000;
    background: #000000;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
  }
  .block-cube .bg-right .bg-inner {
    left: 0;
  }
  .block-cube .bg .bg-inner {
    transition: all 0.2s ease-in-out;
  }
  .block-cube .bg-inner {
    background: #1f1f1f;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
  }
  .block-cube .text {
    position: relative;
    z-index: 2;
  }
  .block-cube.block-input input {
    position: relative;
    z-index: 2;
  }
  .block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
    top: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
  .block-cube.block-input .bg-top,
  .block-cube.block-input .bg-right,
  .block-cube.block-input .bg {
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease-in-out;
  }
  .block-cube.block-input .bg-right .bg-inner,
  .block-cube.block-input .bg-top .bg-inner {
    transition: all 0.2s ease-in-out;
  }
  .block-cube.block-input:focus .bg-top,
  .block-cube.block-input:focus .bg-right,
  .block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg-top,
  .block-cube.block-input:hover .bg-right,
  .block-cube.block-input:hover .bg {
    background: rgba(255, 255, 255, 0.8);
  }
  .block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
    top: 100%;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s linear;
  }
  
  .hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s linear;
  }

  .server_footer {
    text-align: center;
    align-items: center;
  }

  .content {
    width: 100%;
    transition: width .35s;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 12px; 
    padding: 4px 4px 4px 4px !important; 
    overflow: hidden;
  }
  
  #home_section {
    height: 100%;
  }

  #login_container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;  
  }

  #login_section {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;  
  }

  /* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main level */
.menu {			
  margin: 0px auto;
  width: 250px;
  /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}

.menu > li {
  background:black;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 12px;
}		

.menu li:hover {
  background: linear-gradient(60deg, #530000 0%, #1a0505 37%, #000000 94%);
}		

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}

/* Dropdown */
.submenu {
  position: absolute;
  left: 50%; margin-left: -50px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #1d1d1d;
  position: relative;
  overflow: hidden;		
}						

.submenu > li > a {
  padding: 1em 2em;			
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

.navigation {
  position: relative;
  left: 25px;
  top: 0px;
  width: 0px;
}

.section_text {
  font-weight: bold;
  font-family: monospace;
  font-size: 14px;
  text-align: right;
}

[data-js="glitch-image"] {
  position: relative;
  width: 100%;
}
[data-js="glitch-image"] canvas {
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 2;
}

.mask-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}