<div class="container monitor" id="monitor">
  <div class="overlay" id="overlay"></div>
  <div id="login_section" class="visible">
    <div class="container row login">
      <div class="container control block-cube block-input">
        <input
          name="username"
          placeholder="Username"
          type="text"
          value="root"
          readonly=""
        />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
    </div>
    <div class="container row login">
      <div class="container control block-cube block-input">
        <input
          name="password"
          placeholder="Password"
          type="password"
          readonly=""
          value="mysecretpassword"
        />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
    </div>
    <div class="container row login">
      <button
        class="btn control block-cube block-cube-hover"
        type="button"
        id="login_button"
      >
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
        <div class="text">Login</div>
      </button>
    </div>
  </div>
  <div id="welcome_section" class="hidden">
    <div class="container row welcome">
      <h1 class="welcome glitch_fast">W E L C O M E</h1>
    </div>
  </div>
</div>
<div class="container server_footer" id="server_footer_div">
  <div class="row">
    <div class="container">
      This server is property of Ash Williams, any connection and access will be reported, all actions are under strict auditing. Malicious actions <a class="tip">w i l l</a> be persecuted.
    </div>
  </div>
</div>
