<div class="container monitor" id="monitor">
  <div class="overlay" id="overlay"></div>
  <div id="login_section" class="visible">
    <div class="login_container">
      <div class="row login">
        <button
          class="btn control block-cube block-cube-hover loop1"
          type="button"
          id="login_button"
        >
          <div class="text">Login</div>
        </button>
      </div>
    </div>
  </div>
  <div id="home_section" class="container row hidden none">
    <div class="navigation" id="sidebar">
      <div data-js="glitch-image" id="bluepill">
        <img src="https://i.postimg.cc/cHJpvFcS/bluepill2.png"  width="22px" height="22px" class="loop1 menuimg" style="margin-left: 20px;"/>
      </div>
      <div data-js="glitch-image" id="redpill">
        <img src="https://i.postimg.cc/9MNvZyxq/redpill2.png"  width="22px" height="22px" class="loop2 menuimg" />
      </div>
      <div data-js="glitch-image" id="whitepill">
        <img src="https://i.postimg.cc/RCQLqw0P/whitepill2.png"  width="22px" height="22px" class="loop3 menuimg glitch-image" onclick="add_glitch_mask()"/>
      </div>
    </div>
    <div class="content col visible" style="align-items: center" id="bio">
      <div class="row visible">
        <div class="col">
          <p class="bigtxt">
            <a class="tip">Ash</a>ley <a class="tip">Will</a>iams
          </p>
        </div>
      </div>
      <br />
      <div class="content row" style="align-content: right; text-align: right">
        Has a <a class="tip" onclick="load_tip('ESCAPE')">degree</a> in Computer Science. Speaks English,
        Japanese and French. Was part of a
        <a class="glitch_fast">gang</a> before college.
        <a class="glitch_fast" >Robbed</a> a grocery store with a gun.
      </div>
      <br />
      <div class="content row" style="align-content: left; text-align: left">
        Father <a class="glitch_fast">uknown</a>. Mother
        <a class="tip" onclick="load_tip('CANCER')">deceased</a> recently. No other
        <a class="glitch_fast">family</a> member known. Lived in a low income
        area in London until 23.
      </div>
      <br />
      <div class="content row">
        <div class="row" style="display: flex">
          <div
            style="
              position: relative;
              left: 0px;
              width: fit-content;
              text-align: left;
            "
          >
            Name: Ashley <a class="glitch_fast">"Ash"</a><br />
            Surname: Williams<br />
            Born in: London, England<br />
            <a class="glitch_fast">Height</a>: 1.78m<br />
            Weight: 70kg<br />
            Eyes: <a class="glitch_fast">Green</a><br />
            Hairs: Brown<br />
          </div>
          <div style="width: 29%"></div>
          <div style="position: relative; right: 0px; width: fit-content">
            Loves: <a class="glitch_fast">drugs</a>, music, tech.<br />
            Hates: <a class="tip" onclick="load_tip('REGRET')">[;a$%sdw#qk#]\'/'%$</a><br />
          </div>
        </div>
        <div
          style="
            position: relative;
            width: 100%;
            height: 100%;
            bottom: 0px;
            padding-top: 3px;
            border-top: 1px solid #333333;
          "
        >
          <div data-js="glitch-image" id="bottomimg">
            <img src="https://i.ibb.co/56j1JcL/105145-ppl.png" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="content col hidden none"
      style="align-items: center"
      id="diary"
    ></div>
  </div>
</div>
<div class="col server_footer" id="server_footer_div">
  <div class="server_footer">
    This server is property of Ash Williams, any connection and access will be
    reported, all actions are under strict auditing.
  </div>
  <div class="server_footer">
    Malicious actions <a class="tip">w i l l</a> be persecuted.
  </div>
</div>
