<div class="container monitor" id="monitor">
  <div class="overlay" id="overlay"></div>
  <div id="login_section" class="visible">
    <div class="login_container">
      <div class="row login">
        <div class="col control block-cube block-input">
          <input
            name="username"
            placeholder="Username"
            type="text"
            value="root"
            readonly=""
          />
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
        </div>
      </div>
      <div class="row login">
        <div class="col control block-cube block-input">
          <input
            name="password"
            placeholder="Password"
            type="password"
            readonly=""
            value="mysecretpassword"
          />
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
        </div>
      </div>
      <div class="row login">
        <button
          class="btn control block-cube block-cube-hover"
          type="button"
          id="login_button"
        >
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
          <div class="text">Login</div>
        </button>
      </div>
    </div>
  </div>
  <div id="home_section" class="container row hidden">
    <div class="navigation" id="sidebar">
      <ul class="menu cf">
        <li>
          <a>Menu</a>
          <ul class="submenu">
            <li><a class="visited">Records</a></li>
            <li><a>Diary</a></li>
            <li><a class="glitch_fast">C0rrUP43d</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="content col" style="align-items: center">
      <div class="row visible">
        <div class="col">
          <p>
            <a onclick="load_tip(3)" class="tip">Ash</a>ley
            <a onclick="load_tip(3)" class="tip">Will</a>iams
          </p>
        </div>
      </div>
      <div class="row" style="align-content: left; text-align: left">
        <div class="col" style="align-content: left; text-align: left">
          <ul>
            <li>Name: Ashley "Ash"</li>
            <li>Surname: Williams</li>
            <li>Born in: London, England</li>
            <li>Height: 1.78m</li>
            <li>Weight: 70kg</li>
            <li>Eyes: Green</li>
            <li>Hairs: Brown</li>
            <li>Occupation: Solution Engineer</li>
          </ul>
        </div>
      </div>
      <div class="content row" style="align-content: left; text-align: left">
        left try
      </div>
    </div>
  </div>
</div>
<div class="col server_footer" id="server_footer_div">
  <div class="server_footer">
    This server is property of Ash Williams, any connection and access will be
    reported, all actions are under strict auditing.
  </div>
  <div class="server_footer">
    Malicious actions <a class="tip">w i l l</a> be persecuted.
  </div>
</div>
