<div id="menu-container" class="menu-container">
  <div class="menu-nav">
  <a class="menu-nav-btn">
    Menu <i class="fa fa-caret-down" aria-hidden="true"></i>
  </a>
  </div>
  <div class="menu open" id="menu">
    <div class="menu-item">
      <button class="menu-item-btn">ASHLEY</button>
    </div>
    <div class="menu-item">
      <button class="menu-item-btn">ASHLEY</button>
    </div>
    <div class="menu-item">
      <button class="menu-item-btn">ASHLEY</button>
    </div>
  </div>
</div>