<div>
  <audio id="loop_1" class="audio off" autoplay preload="" loop="">
    <source
      src="https://audio.jukehost.co.uk/jdWaU4FggWzEnDzqrXbwVt5p1ZByzlqq"
    />
  </audio>
  <audio id="loop_2" class="audio off" preload="" loop="">
    <source
      src="https://audio.jukehost.co.uk/1RLMWXMhzmy4NyKje72QygsKrL4dqQJ9"
    />
  </audio>
  <audio id="loop_3" class="audio off" preload="" loop="">
    <source
      src="https://audio.jukehost.co.uk/wCUNMulbMuR4u7hwMvnd5FjarS1mELvZ"
    />
  </audio>
</div>
