<div class="content col" id="ASHBIO">
    Has a degree in Computer Science. Speaks English,
    Japanese and French. Was part of a gang before college. Robbed a grocery store with a gun.
    <br/>
    Father uknown. Mother
    deceased recently. No other
    family member known. Lived in a low income
    area in London until 23.<br />
    Name: Ashley "Ash"<br/>
    Surname: Williams<br/>
    Born in: London, England<br/>
    Height: 1.78m<br/>
    Weight: 70kg<br/>
    Eyes:Green<br/>
    Hairs: Brown<br/>
    Loves: drugs, music, tech.<br/>
    Hates: [;a$%sdw#qk#]\'/'%$<br/>
</div>