<div class="content col" style="align-items: center" id="bio">
    <div class="row visible">
        <div class="col">
            <p class="bigtxt">
                <a class="tip">Ash</a>ley <a class="tip">Will</a>iams
            </p>
        </div>
    </div>
    <br/>
    <div class="content row" style="align-content: right; text-align: right">
        Has a <a class="tip" onclick="load_tip('ESCAPE')">degree</a> in Computer Science. Speaks English,
        Japanese and French. Was part of a
        <a class="glitch_fast">gang</a> before college.
        <a class="glitch_fast">Robbed</a> a grocery store with a gun.
    </div>
    <br/>
    <div class="content row" style="align-content: left; text-align: left">
        Father <a class="glitch_fast">uknown</a>. Mother
        <a class="tip" onclick="load_tip('CANCER')">deceased</a> recently. No other
        <a class="glitch_fast">family</a> member known. Lived in a low income
        area in London until 23.
    </div>
    <br/>
    <div class="content row">
        <div class="row" style="display: flex">
            <div
                    style="
              position: relative;
              left: 0px;
              width: fit-content;
              text-align: left;
            "
            >
                Name: Ashley <a class="glitch_fast">"Ash"</a><br/>
                Surname: Williams<br/>
                Born in: London, England<br/>
                <a class="glitch_fast">Height</a>: 1.78m<br/>
                Weight: 70kg<br/>
                Eyes: <a class="glitch_fast">Green</a><br/>
                Hairs: Brown<br/>
            </div>
            <div style="width: 29%"></div>
            <div style="position: relative; right: 0px; width: fit-content">
                Loves: <a class="glitch_fast">drugs</a>, music, tech.<br/>
                Hates: <a class="tip" onclick="load_tip('REGRET')">[;a$%sdw#qk#]\'/'%$</a><br/>
            </div>
        </div>
    </div>
</div>